<body class="bg-dark">
    <h1 class="text-white">Edit Post</h1>
    <%= render partial: 'shared/error_messages', locals: {obj: @post} %>
    <%= render partial: 'shared/post_form', locals: {obj: @post} %>
</body>