<body class="bg-dark">
    <h1 class="text-white">Posts</h1>
    <ul class="list-group">
        <li class="list-group-item bg-dark">
            <%= render @posts%>
        </li>
    </ul>
    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: "pagination bg-transparent") %>
</body>